<div class="container">
  <h1>Sobre Westeros</h1>
  <p>Westeros é um continente localizado na parte ocidental do Mundo Conhecido.
    Ele é separado do continente Essos pelo Mar Estreito. A maior parte da história de Game of Thrones se passa neste continente.
   O autor da série, George R.R. Martin, declarou que o tamanho de Westeros é, aproximadamente, equivalente ao do da América do Sul.</p>
  <img class="img-fluid" src="https://i.pinimg.com/originals/ab/33/59/ab33593e3cd987a2e877c0a36da17689.jpg" alt="">
</div>
